<div class="content-header">
    <h1>Test Catalog</h1>
    <button mat-flat-button color="primary" (click)="openAddTestDialog()">
        <mat-icon>add</mat-icon> Add Test
    </button>
</div>

<mat-form-field appearance="outline" class="w-full" style="width: 100%; margin-top: 1rem;">
    <mat-label>Search Tests</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by name or ID..." #input>
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="w-full">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let test"> {{test.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let test"> {{test.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let test"> {{test.price | currency:'NGN':'symbol-narrow':'1.0-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="departmentId">
            <th mat-header-cell *matHeaderCellDef> Department ID </th>
            <td mat-cell *matCellDef="let test"> {{test.department?.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>