<div class="container" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Test Requests</h2>
        <button mat-raised-button color="primary" (click)="openRequestDialog()">New Request</button>
    </div>

    <table mat-table [dataSource]="store.requests()" class="mat-elevation-z8">
        <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef> Patient </th>
            <td mat-cell *matCellDef="let req"> {{req.patientName || 'N/A'}} </td>
        </ng-container>

        <ng-container matColumnDef="testName">
            <th mat-header-cell *matHeaderCellDef> Test Name </th>
            <td mat-cell *matCellDef="let req"> {{req.test?.name || req.testId || 'N/A' }} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let req"> {{req.test?.price | currency:'NGN':'symbol-narrow'}} </td>
        </ng-container>

        <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef> Discount </th>
            <td mat-cell *matCellDef="let req"> {{req.discount}}% </td>
        </ng-container>

        <ng-container matColumnDef="outstanding_balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let req"> {{req.outstanding_balance | currency:'NGN':'symbol-narrow'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let req"> {{req.status}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let req"> {{req.created_at | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let req">
                <button mat-button color="accent" *ngIf="req.status === 'PENDING'"
                    (click)="updateStatus(req.id, 'IN_PROGRESS')">Start</button>
                <button mat-button color="primary" *ngIf="req.status === 'IN_PROGRESS'"
                    (click)="updateStatus(req.id, 'COMPLETED')">Complete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-progress-bar mode="indeterminate" *ngIf="store.isLoading()"></mat-progress-bar>
</div>