.container {
    padding: 20px;
}

table {
    width: 100%;
}

.full-width-filter {
    width: 100%;
}

.table-container {
    overflow-x: auto;
}

.active {
    color: green;
    font-weight: bold;
}

.inactive {
    color: red;
    font-weight: bold;
}