.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
    // .mat-toolbar { background: ... } 
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content {
    padding: 20px;
}

.active {
    background: rgba(0, 0, 0, 0.04);
}