.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.department-card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 8px;
    /* Spacing between items */

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}