// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  // Global Border Radius Overrides
  --mdc-filled-button-container-shape: 3px;
  --mdc-outlined-button-container-shape: 3px;
  --mdc-protected-button-container-shape: 3px;
  --mdc-text-button-container-shape: 3px;
  --mdc-dialog-container-shape: 3px;

  // Class overrides for robustness
  .mat-mdc-button,
  .mat-mdc-raised-button,
  .mat-mdc-unelevated-button,
  .mat-mdc-outlined-button,
  .mat-mdc-flat-button {
    border-radius: 3px !important;
  }

  .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    border-radius: 3px !important;
  }

  .mat-mdc-card {
    border-radius: 3px !important;
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}